{% extends 'main_base.html' %}


{% load staticfiles %}
{% block main %}
<div class = container>
    <div class="header">Classes
    </div>
    <div id = "class">
        <ul class = "classList">
            {% for class in classes %}
                <li class ="classes"><a href="{% url 'classroom' class.id %}">{{ class.name }}</a></li>
            {% endfor %}
        </ul>


        <form action={% url 'add_class' %}>
            <button type="submit" class = "btn btn-secondary">Create new class</button>
        </form>

    </div>
</div>
{% endblock %}
