
{% extends 'main_base.html' %}


{% load staticfiles %}
{% block main %}
<div class = container>
    <h1 class = header class = className>Class: {{ name }}</h1>
    <div id="student">
        <div style="margin-bottom: 20px;">
            {% for i in group_count %}
                <a href="{% url 'edit_groups' classroom_id i %}" class="btn btn-secondary">Group List {{ i }}</a>
            {% endfor %}
        </div>
        <ul class = studentList>
            {% for student in students %}
                <li class = students>{{ student.full_name }}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'add_class_student' classroom_id %}" class = addStudent>
             <button type="submit" class = "btn btn-secondary">Add Students</button>
            <a href="{% url 'generate_groups' classroom_id 2%}" class = "btn btn-secondary">Groups of Two</a>
            <a href="{% url 'generate_groups' classroom_id 3%}" class = "btn btn-secondary">Groups of Three</a>
            <a href="{% url 'generate_groups' classroom_id 4%}" class = "btn btn-secondary">Groups of Four</a>
            <a href="{% url 'classes'%}" class = "btn btn-secondary">Back</a>
        </form>
    </div>
</div>
{% endblock %}