{% extends 'main_base.html' %}


{% load staticfiles %}
{% block main %}
    <div class="container">
        <h1>Class: {{ name }}</h1>
    <div id = "student">
        <ul>
            {% for student in students %}
                <li>{{ student.full_name }}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'add_class_student' classroom_id %}">
             <button type="submit" class="btn btn-secondary">Add Students</button>
        </form>
    </div>
    </div>
{% endblock %}