<!DOCTYPE html>
<!-- list of classes-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
    <div align="center" id = "class">
        <ul>
            {% for class in classes %}
                <li><a href="{% url 'classroom' class.id %}">{{ class.name }}</a></li>
            {% endfor %}
        </ul>


        <form action={% url 'add_class' %}>
            <button type="submit">Create new class</button>
        </form>

    </div>



</body>
</html>